<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TcJoy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TcJoy.My.MySettings>
            <setting name="sPLC_NETID" serializeAs="String">
                <value />
            </setting>
            <setting name="sPLC_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="bAutoConnectADS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sTcJoyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="sADSRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sADSWatchdog" serializeAs="String">
                <value />
            </setting>
            <setting name="sADSWatchdogDeadDuration" serializeAs="String">
                <value />
            </setting>
            <setting name="sAnalogDeadZone" serializeAs="String">
                <value />
            </setting>
            <setting name="sShoulderDeadZone" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TcJoy.My.MySettings>
    </userSettings>
</configuration>